<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Register </h1>

                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="../explorer/home.ejs">
                                    Home</a></li>
                            <li>
                                Register </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">


                <div class="my-account style-1 margin-top-5 margin-bottom-40">
                    <ul class="tabs-nav">
                        <li><a href="#register">
                                Register</a></li>
                    </ul>
                    <div class="tabs-container alt">

                        <div class="tab-content" id="register">
                            <form method="post" enctype="multipart/form-data" accept-charset="utf-8"
                                action="https://www.thetolet.com/validation/user-action.php" class="register"
                                onsubmit="if (!window.__cfRLUnblockHandlers) return false; return myFunction()"
                                data-cf-modified-37a31c2fd89776ab7a075fd0-="">
                                <input type="hidden" id="token2" name="token">
                                <p class="form-row form-row-wide">
                                    <label for="full_name">
                                        Full Name <i class="fa fa-user"></i>
                                        <input type="text" class="input-text" name="name" id="full_name" value=""
                                            placeholder="Enter Your Name" />
                                    </label>
                                </p>
                                <p>
                                    <label for="">
                                        Gender</label>
                                    <select class="chosen-select-no-single" name="gender">
                                        <option value="">Select an Option</option>
                                        <option value="male">
                                            Male </option>
                                        <option value="female">
                                            Female </option>
                                    </select>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="contact_number">
                                        Contact Number:
                                        <i class="fa fa-mobile"></i>
                                        <input type="text" class="input-text" name="contact" id="contact_number"
                                            value="" placeholder="01*********" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="email2">
                                        Email <i class="fa fa-envelope"></i>
                                        <input type="text" class="input-text" name="email" id="email2" value=""
                                            placeholder="Enter Your Email" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password1">
                                        Password <i class="fa fa-lock"></i>
                                        <input class="input-text" type="password" name="pass1" id="pass1"
                                            placeholder="Type Your Password" />
                                    </label>
                                </p>
                                <p class="form-row form-row-wide">
                                    <label for="password2">
                                        Confirm Password <i class="fa fa-lock"></i>
                                        <input class="input-text" type="password" name="pass" id="pass2"
                                            placeholder="Retype Your Password" />
                                    </label>
                                </p>
                                <p class="form-row">
                                    <input type="submit" class="button border fw margin-top-10 fullwidth"
                                        name="register" value="Register" />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include('../../partials/footer.ejs')%>