<header id="header-container">

    <div id="header">
        <div class="container">

            <div class="left-side">

                <div id="logo">
                    <h4><a href="/">FIND HOUSE<img src="" alt="" height="74" width="220"></a></h4>
                </div>

                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

                <nav id="navigation" class="style-1">
                    <h2 style="display: none"> FIND HOUSE</h2>
                    <ul id="responsive">
                        <li>
                            <a href="/property-listing?page=1">Property</a>
                        <li>
                        <li><a href="#">Location</a>
                            <ul>
                                <% for(let loc of locals.locations) {%>
                                <li><a href='/'><%= loc.name %></a>
                                    <ul class="menu-overlay">
                                        <% for(let area of loc.areas) {%>
                                        <li><a href='/'><%= area.name %></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                        <li><a href="#">Category</a>
                            <ul>
                                <% for(let cat of locals.categories) {%>
                                <li><a href='/'><%= cat.name %></a></li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>

            </div>

            <div class="right-side">

                <div class="header-widget">
                    <% if (!isLoggedIn) { %>
                    <a href="/auth/login" class="sign-in"><span class="hidden-xs"><i class="fa fa-sign-in"></i></span>
                        Login </a>
                    <a href="/auth/register" class="sign-in"><span class="hidden-xs"><i
                                class="fa fa-sign-in"></i></span>

                        Register</a>
                    <% } else { %>
                    <a href="/hw/property/create" class="button border">
                        Rent Your Property</a>
                    <a href="/auth/logout" class="sign-in"><span class="hidden-xs" style="margin-left: 10px"><i
                                class="fa fa-sign-in"></i></span>Logout</a>
                    <% }%>
                </div>

            </div>

        </div>
    </div>

</header>
<div class="clearfix"></div>