<div id="map-container" class="homepage-map margin-bottom-0 overflow" style="height: 40rem;">
    <div class="main-search-container active">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <a href="#" class="adv-search-btn button active">Search <i class="fa fa-caret-up"></i></a>

                    <form class="main-search-form" method="post" accept-charset="UTF-8" action="#">

                        <div class="search-type" style="display: none">
                            <label class="active"><input class="first-tab" checked="checked" type="radio">Any
                                Status</label>

                            <label><input type="radio">For Rent</label>
                            <div class="search-type-arrow"></div>
                        </div>
                        <input id="property" type="hidden" value='<%=locals.locations %>' />
                        <script type="text/javascript">
                            //var locations = JSON.parse(document.getElementById("property").attr("value"));
                            let locations = ""
                             //locations = document.getElementById('property').value;
                            function getLocationId(sel) {
                                var idNo = sel.value;
                                //const result = locations.filter(location => location._id == '61c9fbcb632b67e29afe1507')
                                console.log(idNo)
                                //console.log(locations)

                                const xhr = new XMLHttpRequest();
                                xhr.open('GET', `/location/${idNo}`, true);
                                xhr.responseType = 'json';
                                xhr.setRequestHeader('Content-type', 'application/json');
                                //xhr.send({});

                                xhr.onload = function () {
                                    // if (xhr.status >= 400) {
                                    //     let error = `Something was wrong`;
                                    //     reject(error)
                                    // } else {
                                    //     resolve(xhr.response);
                                    // }
                                    console.log(xhr.response)
                                }
                            }
                        </script>
                        <div class="main-search-box">

                            <div class="main-search-input larger-input">
                                <div class="row with-forms">
                                    <div class="col-md-5 col-sm-5">
                                        <select name="disid" id="disid" onchange="getLocationId(this)"
                                            aria-label="category_search">
                                            <option value="55">
                                                Bagerhat </option>
                                            <option value="40">
                                                Bandarban </option>
                                            <option value="34">
                                                Barguna </option>
                                            <option value="35">
                                                Barisal </option>
                                            <option value="36">
                                                Bhola </option>
                                            <option value="18">
                                                Bogra </option>
                                            <option value="41">
                                                Brahmanbaria </option>
                                            <option value="42">
                                                Chandpur </option>
                                            <option value="43">
                                                Chittagong </option>
                                            <option value="56">
                                                Chuadanga </option>
                                            <option value="44">
                                                Comilla </option>
                                            <option value="45">
                                                Cox's Bazar </option>
                                            <option value="1" selected="selected">
                                                Dhaka </option>
                                            <option value="26">
                                                Dinajpur </option>
                                            <option value="2">
                                                Faridpur </option>
                                            <option value="46">
                                                Feni </option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <select name="areaid" id="areaid" class="form-control">
                                            <option value="">Choose Area </option>
                                            <option value="493">
                                                Adabor </option>
                                            <option value="606">
                                                Aftab Nagar </option>
                                            <option value="603">
                                                Agargaon </option>
                                            <option value="494">
                                                Airport </option>
                                            <option value="604">
                                                Azimpur </option>
                                            <option value="495">
                                                Badda </option>
                                            <option value="496">
                                                Banani </option>
                                            <option value="497">
                                                Bangshal </option>
                                            <option value="599">
                                                Bashundhara R.A </option>
                                            <option value="498">
                                                Bhashantek </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="button" name="search">SEARCH</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row with-forms">

                                <div class="col-md-4">
                                    <select data-placeholder="Any Type" class="chosen-select-no-single" name="category"
                                        aria-label="category_search">
                                        <option value="">Choose Category</option>
                                        <option value="1">Family House</option>
                                        <option value="2">Bachelor House</option>
                                        <option value="3">Office Space</option>
                                        <option value="4">Hostel Sit</option>
                                        <option value="5">Sublet Room</option>
                                    </select>
                                </div>

                                <div class="col-md-4">

                                    <div class="select-input">
                                        <input type="text" aria-label="min_price" placeholder="Minimum Price"
                                            data-unit="BDT" name="min_price" value="">
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="select-input">
                                        <input type="text" aria-label="max_price" placeholder="Maximum Price"
                                            data-unit="BDT" name="max_price" value="">
                                    </div>

                                </div>
                            </div>
                        </div>

                </div>

                </form>

            </div>
        </div>
    </div>
</div>