<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Add New Area </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="https://www.thetolet.com/en/"> Home</a></li>
                        <li> Admin Dashboard </li>
                        <li> Add Area </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/">
                <label> District Name </label>
                <select name="disid" id="disid" required=""
                    oninvalid="if (!window.__cfRLUnblockHandlers) return false; this.setCustomValidity('Select district')"
                    oninput="if (!window.__cfRLUnblockHandlers) return false; this.setCustomValidity('')"
                    data-cf-modified-4e16625146b815a87379dadf-="">
                    <option value="" selected="selected" required="">Select District *</option>
                    <option value="55">
                        Bagerhat </option>
                    <option value="40">
                        Bandarban </option>
                    <option value="34">
                        Barguna </option>
                    <option value="35">
                        Barisal </option>
                    <option value="36">
                        Bhola </option>
                    <option value="18">
                        Bogra </option>
                </select>
                <label> Area Name </label>
                <input value="" name="confirm" type="text">
                <button class="button margin-top-20 margin-bottom-20" name="user_profile_edit" type="submit">
                    SUBMIT</button>
            </form>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>