<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> All Home Owner </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"> Home</a></li>
                        <li> Admin Dashboard </li>
                        <li> Home Owner List </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th style="width:10%">ID</th>
                    <th>Owner Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        <h4>
                            #202
                        </h4>
                    </td>
                    <td>
                        <h4>
                            Mahbubur Alam
                        </h4>
                    </td>
                    <td>
                        <h4>
                            Rented
                        </h4>
                    </td>
                    <td class="action">
                        <a href="/"><i class="fa fa-eye-slash"></i> Reactive</a>
                    </td>
                </tr>
            </table>
        </div>

        <%- include('./sideBar.ejs')%>

    </div>
</div>


<%- include('../../partials/footer.ejs')%>