<div class="col-md-3 make-me-sticky" style="margin-left: 50px">
    <div class="sidebar left">
        <div class="my-account-nav-container">
            <ul class="my-account-nav">
                <li class="sub-nav-title"> Manage Account</li>
                <li><a href="/"><i class="fa fa-user"></i> My
                        Profile</a></li>
                <li><a href="/admin/profile/password-change"><i class="fa fa-lock"></i>
                        Change Password</a></li>
            </ul>
            <ul class="my-account-nav">
                <li><a href="/admin/dashboard"><i class="fa fa-globe"></i> Admin
                        Dashboard</a></li>
            </ul>
            <ul class="my-account-nav">
                <li><a href="/admin/category/list"><i class="fa fa-home"></i>Category List</a></li>
                <li><a href="/admin/category/create"><i class="fa fa-plus-circle"></i>Add New Category</a></li>
            </ul>
            <ul class="my-account-nav">
                <li><a href="/admin/location/list"><i class=" fa fa-th-list"></i>District List</a></li>
                <li><a href="/admin/area/list"><i class=" fa fa-th-list"></i>Area List</a></li>
                <li><a href="/admin/location/create"><i class="fa fa-plus-circle"></i>
                        Add New District</a></li>
                <li><a href="/admin/area/create"><i class="fa fa-plus-circle"></i>
                        Add New Area</a></li>
            </ul>
            <ul class="my-account-nav">
                <li><a href="/auth/logout"><i class="fa fa-sign-out"></i>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</div>