<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>

<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Property </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="property-listing-2.html"> Property</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row fullwidth-layout">
        <div class="col-md-12">

            <div class="listings-container grid-layout-three">
                <div class="listing-item">
                    <a href="dhaka/badda/4577/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">10000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4577" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4577"></span>
                            <span class="compare-loading-button with-tip loading_post_4577"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Family House Tolet From November" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="/">Family
                                    House
                                    Tolet From November</a></h4>
                            <a href="/"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="/" class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/badda/4576/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">10000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4576" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4576"></span>
                            <span class="compare-loading-button with-tip loading_post_4576"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Family House Tolet From November" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="/">Family
                                    House
                                    Tolet From November</a></h4>
                            <a href="/"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="/l" class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="/" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">14000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4575" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4575"></span>
                            <span class="compare-loading-button with-tip loading_post_4575"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Family House Tolet From October" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="/">Family
                                    House Tolet From October</a></h4>
                            <a href="dhaka/jatrabari-tolet/510.html"><i class="fa fa-map-marker"></i> Jatrabari,
                                Dhaka</a>
                            <a href="/" class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="/" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Hostel Seat</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">8500.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4574" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4574"></span>
                            <span class="compare-loading-button with-tip loading_post_4574"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Hostel Seat Tolet From November" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="dhaka/badda/4574/hostel-seat-tolet-from-november.html">Hostel
                                    Seat
                                    Tolet From November</a></h4>
                            <a href="dhaka/badda-tolet/495.html"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="dhaka/badda/4574/hostel-seat-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 1 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="/" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">Negotiable<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4573" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4573"></span>
                            <span class="compare-loading-button with-tip loading_post_4573"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Family House Tolet From November" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="dhaka/farmgate/4573/family-house-tolet-from-november.html">Family
                                    House Tolet From November</a></h4>
                            <a href="dhaka/farmgate-tolet/597.html"><i class="fa fa-map-marker"></i> Farmgate,
                                Dhaka</a>
                            <a href="dhaka/farmgate/4573/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="/" class="listing-img-container">
                        <div class="listing-badges">
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">16000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4572" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4572"></span>
                            <span class="compare-loading-button with-tip loading_post_4572"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="" alt="Family House Tolet From November" class="img-responsive lazy" height="360"
                            width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="dhaka/rampura/4572/family-house-tolet-from-november.html">Family House
                                    Tolet From November</a></h4>
                            <a href="dhaka/rampura-tolet/528.html"><i class="fa fa-map-marker"></i> Rampura,
                                Dhaka</a>
                            <a href="dhaka/rampura/4572/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>