<%-include('../../partials/head.ejs')%>

<div id="wrapper">

    <%-include('../../partials/navigation.ejs')%>

</div>
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> My Profile </h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="https://www.thetolet.com/en/"> Home</a></li>
                        <li> My Profile </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="manage-table responsive-table">
                <tr>
                    <th><i class="fa fa-file-text"></i> List Name</th>
                    <th>Total</th>
                    <th>View Full List</th>
                </tr>
                <tr>
                    <td class="title-container">
                        <div class="title">
                            <h4><a href="/">
                                    Dream House, Badda Link Road</a>
                            </h4>
                        </div>
                    </td>
                    <td class="title">
                        84 </td>
                    <td class="title">
                        <a href="https://www.thetolet.com/property-edit/4671"></i> VIEW</a>
                    </td>
                </tr>
            </table>

            <table class="manage-table responsive-table">
                <tr>
                    <th><i class="fa fa-file-text"></i> Property ID</th>
                    <th class="">Total View</th>
                    <th>Action</th>
                    <th>User</th>
                    <th>User</th>
                    <th>User</th>
                    <th>User</th>
                </tr>
                <tr id="property_4671">
                    <td class="title-container">
                        <div class="title">
                            Post ID : 4671 <h4><a
                                    href="https://www.thetolet.com/dhaka/badda/4671/family-house-tolet-from-december">
                                    Dream House, Badda Link Road</a></h4>
                            <span>Badda , Dhaka</span>
                            <span class="table-property-price">
                                30000.00/- <i>
                                    Per Month</i></span>
                        </div>
                    </td>
                    <td class="">
                        84 </td>
                    <td class="action">
                        <a href="https://www.thetolet.com/property-edit/4671"><i class="fa fa-pencil"></i> Edit
                            Details</a>
                        <a href="https://www.thetolet.com/property-image-edit/4671"><i class="fa fa-picture-o"></i> Edit
                            Image</a>
                        <a
                            href="https://www.thetolet.com/validation/user-action.php?userid=11940&modify=1&propertyid=4671"><i
                                class="fa fa-eye-slash"></i> Reactive</a>
                    </td>
                    <td>
                        AKib
                    </td>
                    <td>
                        AKib
                    </td>
                    <td>
                        AKib
                    </td>
                    <td>
                        AKib
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 make-me-sticky">
            <div class="sidebar left">
                <div class="my-account-nav-container">
                    <ul class="my-account-nav">
                        <li class="sub-nav-title"> Manage Account</li>
                        <li><a href="https://www.thetolet.com/en/profile/"><i class="fa fa-user"></i> My
                                Profile</a></li>
                        <li><a href="https://www.thetolet.com/en/profile/password-change.php"><i class="fa fa-lock"></i>
                                Change Password</a></li>
                    </ul>
                    <ul class="my-account-nav">
                        <li class="sub-nav-title"> Manage Listing</li>
                        <li><a href="https://www.thetolet.com/en/profile/property.php"><i class="fa fa-home"></i> My
                                Properties</a></li>
                        <li><a href="https://www.thetolet.com/en/submit-property"><i class="fa fa-plus-circle"></i>
                                Submit Property</a></li>
                    </ul>
                    <ul class="my-account-nav">
                        <li class="sub-nav-title"> Manage Listing</li>
                        <li><a><i class="fa fa-info"></i> My Request</a></li>
                        <li><a href="https://www.thetolet.com/en/submit-request"><i class="fa fa-plus-circle"></i>
                                Submit New Request</a></li>
                    </ul>
                    <ul class="my-account-nav">
                        <li><a href="https://www.thetolet.com/en/profile/myrefer.php"><i class="fa fa-globe"></i> My
                                Refer</a></li>
                    </ul>
                    <ul class="my-account-nav">
                        <li><a href="https://www.thetolet.com/en/logout.php"><i class="fa fa-sign-out"></i>
                                Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs')%>