<%-include('../../partials/head.ejs')%>

<div id="wrapper">

<%-include('../../partials/navigation.ejs')%>

<%-include('../../partials/search.ejs')%>

</div>

<div class="container">
    <div class="row fullwidth-layout">
        <div class="col-md-12">
            <h3 class="headline margin-bottom-25 margin-top-65">
                Recent Property </h3>
        </div>
        <div class="col-md-12">

            <div class="listings-container grid-layout-three">
                <div class="listing-item">
                    <a href="dhaka/badda/4577/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">10000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4577" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4577"></span>
                            <span class="compare-loading-button with-tip loading_post_4577"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/7.jpg" alt="Family House Tolet From November"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="dhaka/badda/4577/family-house-tolet-from-november.html">Family
                                    House
                                    Tolet From November</a></h4>
                            <a href="dhaka/badda-tolet/495.html"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="dhaka/badda/4577/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/badda/4576/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">10000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4576" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4576"></span>
                            <span class="compare-loading-button with-tip loading_post_4576"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/6.jpg" alt="Family House Tolet From November"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="dhaka/badda/4576/family-house-tolet-from-november.html">Family
                                    House
                                    Tolet From November</a></h4>
                            <a href="dhaka/badda-tolet/495.html"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="dhaka/badda/4576/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/jatrabari/4575/family-house-tolet-from-october.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">14000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4575" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4575"></span>
                            <span class="compare-loading-button with-tip loading_post_4575"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/5.jpg" alt="Family House Tolet From October"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="dhaka/jatrabari/4575/family-house-tolet-from-october.html">Family
                                    House Tolet From October</a></h4>
                            <a href="dhaka/jatrabari-tolet/510.html"><i class="fa fa-map-marker"></i> Jatrabari,
                                Dhaka</a>
                            <a href="dhaka/jatrabari/4575/family-house-tolet-from-october.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/badda/4574/hostel-seat-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Hostel Seat</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">8500.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4574" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4574"></span>
                            <span class="compare-loading-button with-tip loading_post_4574"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/4.jpg" alt="Hostel Seat Tolet From November"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a href="dhaka/badda/4574/hostel-seat-tolet-from-november.html">Hostel
                                    Seat
                                    Tolet From November</a></h4>
                            <a href="dhaka/badda-tolet/495.html"><i class="fa fa-map-marker"></i> Badda,
                                Dhaka</a>
                            <a href="dhaka/badda/4574/hostel-seat-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 1 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/farmgate/4573/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">Negotiable<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4573" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4573"></span>
                            <span class="compare-loading-button with-tip loading_post_4573"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/3.jpg" alt="Family House Tolet From November"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="dhaka/farmgate/4573/family-house-tolet-from-november.html">Family
                                    House Tolet From November</a></h4>
                            <a href="dhaka/farmgate-tolet/597.html"><i class="fa fa-map-marker"></i> Farmgate,
                                Dhaka</a>
                            <a href="dhaka/farmgate/4573/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 1 Bathroom</li>
                        </ul>
                    </div>
                </div>
                <div class="listing-item">
                    <a href="dhaka/rampura/4572/family-house-tolet-from-november.html" class="listing-img-container">
                        <div class="listing-badges">
                            <span class="featured">Top Post</span>
                            <span>Family House</span>
                        </div>
                        <div class="listing-img-content">
                            <span class="listing-price">16000.00/-<i>Per Month</i></span>
                            <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                            <span class="compare-button with-tip compare_4572" data-tip-content="Add to Compare"
                                data-tip-adding-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                id="post_4572"></span>
                            <span class="compare-loading-button with-tip loading_post_4572"
                                data-tip-content="Adding To Compare <i class=&quot;fa fa-circle-o-notch fa-spin fa-fw&quot;></i>"
                                style="display: none"></span>
                        </div>
                        <img src="assets/images/post_blank/thumb/2.jpg" alt="Family House Tolet From November"
                            class="img-responsive lazy" height="360" width="240">
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4 class="two-line"><a
                                    href="dhaka/rampura/4572/family-house-tolet-from-november.html">Family House
                                    Tolet From November</a></h4>
                            <a href="dhaka/rampura-tolet/528.html"><i class="fa fa-map-marker"></i> Rampura,
                                Dhaka</a>
                            <a href="dhaka/rampura/4572/family-house-tolet-from-november.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li><i class="fa fa-bed"></i> 2 Bedroom</li>
                            <li class="pull-right"><i class="fa fa-tint"></i> 2 Bathroom</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="property-listing.html" class="btn-block">See More Property</a>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row fullwidth-layout">
        <div class="col-md-12">
            <h3 class="headline margin-bottom-25 margin-top-65">
                Recent Request </h3>
        </div>
        <div class="col-md-12">

            <div class="listings-container grid-layout-three">

                <div class="listing-item">
                    <a href="demand/dhaka/jatrabari/2074/family-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Family House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_1_4.jpg"
                                    alt="Family House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/dhaka/jatrabari/2074/family-house.html">
                                    Family House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Jatrabari ,
                            Dhaka
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    3 hours ago</span></span>
                            <a href="demand/dhaka/jatrabari/2074/family-house.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                2 |
                                Bathroom :
                                1 </li>
                        </ul>

                    </div>
                </div>


                <div class="listing-item">
                    <a href="demand/dhaka/jatrabari/2073/family-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Family House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_1_3.jpg"
                                    alt="Family House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/dhaka/jatrabari/2073/family-house.html">
                                    Family House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Jatrabari ,
                            Dhaka
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    3 hours ago</span></span>
                            <a href="demand/dhaka/jatrabari/2073/family-house.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                2 |
                                Bathroom :
                                2 </li>
                        </ul>

                    </div>
                </div>


                <div class="listing-item">
                    <a href="demand/dhaka/wari/2072/family-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Family House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_1_2.jpg"
                                    alt="Family House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/dhaka/wari/2072/family-house.html">
                                    Family House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Wari ,
                            Dhaka
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    1 day ago</span></span>
                            <a href="demand/dhaka/wari/2072/family-house.html" class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                2 |
                                Bathroom :
                                2 </li>
                        </ul>

                    </div>
                </div>


                <div class="listing-item">
                    <a href="demand/barisal/barisal-sadar/2071/family-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Family House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_1_1.jpg"
                                    alt="Family House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/barisal/barisal-sadar/2071/family-house.html">
                                    Family House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Barisal Sadar ,
                            Barisal
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    2 days ago</span></span>
                            <a href="demand/barisal/barisal-sadar/2071/family-house.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                3 |
                                Bathroom :
                                2 </li>
                        </ul>

                    </div>
                </div>


                <div class="listing-item">
                    <a href="demand/dhaka/wari/2070/bachelor-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Bachelor House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_2_0.jpg"
                                    alt="Bachelor House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/dhaka/wari/2070/bachelor-house.html">
                                    Bachelor House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Wari ,
                            Dhaka
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    2 days ago</span></span>
                            <a href="demand/dhaka/wari/2070/bachelor-house.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                1 |
                                Bathroom :
                                1 </li>
                        </ul>

                    </div>
                </div>


                <div class="listing-item">
                    <a href="demand/dhaka/jatrabari/2069/family-house.html" class="listing-img-container">
                        <div class="listing-badges">

                            <span>
                                Family House</span>
                        </div>
                        <div class="listing-img-content">
                        </div>
                        <div class="listing-carousel">
                            <div><img src="assets/images/request_blank/thumb/category_1_9.jpg"
                                    alt="Family House Rent Need" class="img-responsive lazy" height="360" width="240">
                            </div>
                        </div>
                    </a>
                    <div class="listing-content">
                        <div class="listing-title">
                            <h4><a href="demand/dhaka/jatrabari/2069/family-house.html">
                                    Family House Rent Need</a></h4>

                            <i class="fa fa-map-marker"></i>
                            Jatrabari ,
                            Dhaka
                            <span class="pull-right"><span><i class="fa fa-calendar-o"></i>
                                    4 days ago</span></span>
                            <a href="demand/dhaka/jatrabari/2069/family-house.html"
                                class="details button border">Details</a>
                        </div>
                        <ul class="listing-details">
                            <li>
                                Desired :
                                Bedroom :
                                3 |
                                Bathroom :
                                2 </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<section class="fullwidth margin-top-105" data-background-color="#30303020">

    <h3 class="headline-box">
        Most Popular Category </h3>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <div class="icon-box-1">
                    <div class="icon-container">
                        <svg class="statistic_part" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="60px"
                            height="60px" data-icon="home-heart" data-prefix="fas" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M64 311.4V496c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16V311.4c-6.7-5.5-44.7-38.3-224-196.4C107.9 273.9 70.4 306.1 64 311.4zm314.1-26.3c27.6 23 29.1 64.2 4.5 89.1l-84.7 85.6c-5.5 5.5-14.3 5.5-19.8 0l-84.7-85.6c-24.6-24.9-23.2-66.1 4.3-89.1 24-20 59.7-16.4 81.6 5.8l8.6 8.7 8.6-8.7c22-22.2 57.7-25.8 81.6-5.8zM64 311.4v-.3s-2.7 2.5 0 .3zm506.7-75.1L512 184.5V48c0-8.8-7.2-16-16-16h-64c-8.8 0-16 7.2-16 16v51.7L314.7 10.3c-15.3-13.7-38.2-13.7-53.5 0l-256 226c-6.6 5.9-7.1 16-1.2 22.6l21.4 23.8c5.9 6.6 16 7.1 22.6 1.2L277.4 81.7c6-5.3 15.1-5.3 21.2 0L527.9 284c6.6 5.9 16.7 5.4 22.6-1.2l21.4-23.8c5.9-6.7 5.4-16.8-1.2-22.7zM512 311.1v.3c2.9 2.3 0-.3 0-.3z" />
                        </svg>
                        <div class="icon-links">
                            1723 Listing </div>
                    </div>
                    <h4>
                        <a href="family-house.html">Family House</a>
                    </h4>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">

                <div class="icon-box-1">
                    <div class="icon-container">
                        <svg class="statistic_part" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="60px"
                            height="60px" data-icon="home-lg-alt" data-prefix="fas" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M288 115L69.47 307.71c-1.62 1.46-3.69 2.14-5.47 3.35V496a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V368a16 16 0 0 1 16-16h96a16 16 0 0 1 16 16v128a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V311.1c-1.7-1.16-3.72-1.82-5.26-3.2zm282.69 121.28l-255.94-226a39.85 39.85 0 0 0-53.45 0l-256 226a16 16 0 0 0-1.21 22.6L25.5 282.7a16 16 0 0 0 22.6 1.21L277.42 81.63a16 16 0 0 1 21.17 0L527.91 283.9a16 16 0 0 0 22.6-1.21l21.4-23.82a16 16 0 0 0-1.22-22.59z" />
                        </svg>
                        <div class="icon-links">
                            986 Listing </div>
                    </div>
                    <h4>
                        <a href="bachelor.html"> Bachelor House</a>
                    </h4>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">

                <div class="icon-box-1">
                    <div class="icon-container">
                        <svg class="statistic_part" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="60px"
                            height="60px" data-icon="building" data-prefix="fal" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M192 107v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12zm116-12h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zm-128 96h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zm128 0h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zm-128 96h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zm128 0h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12zm140 205v20H0v-20c0-6.627 5.373-12 12-12h20V24C32 10.745 42.745 0 56 0h336c13.255 0 24 10.745 24 24v456h20c6.627 0 12 5.373 12 12zm-64-12V32H64v448h128v-85c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v85h128z" />
                        </svg>
                        <div class="icon-links">
                            156 Listing </div>
                    </div>
                    <h4>
                        <a href="office.html">Office Space</a>
                    </h4>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">

                <div class="icon-box-1">
                    <div class="icon-container">
                        <svg class="statistic_part" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="60px"
                            height="60px" data-icon="users-medical" data-prefix="fas" viewBox="0 0 640 512">
                            <path fill="currentColor"
                                d="M96 224a64 64 0 1 0-64-64 64.06 64.06 0 0 0 64 64zm224 32a112 112 0 1 0-112-112 111.94 111.94 0 0 0 112 112zm32 96c0-19.1 3.92-37.17 10.09-54.17A152.75 152.75 0 0 1 320 304c-24.6 0-47.6-6-68.5-16h-8.3A115.23 115.23 0 0 0 128 403.2V432a48 48 0 0 0 48 48h241c-39.22-29.19-65-75.47-65-128zm-178.9-77.4A63.81 63.81 0 0 0 128 256H64a64.06 64.06 0 0 0-64 64v32a32 32 0 0 0 32 32h65.9a146.64 146.64 0 0 1 75.2-109.4zM512 224a128 128 0 1 0 128 128 128 128 0 0 0-128-128zm64 144a5.33 5.33 0 0 1-5.33 5.33h-37.34v37.34A5.33 5.33 0 0 1 528 416h-32a5.33 5.33 0 0 1-5.33-5.33v-37.34h-37.34A5.33 5.33 0 0 1 448 368v-32a5.33 5.33 0 0 1 5.33-5.33h37.34v-37.34A5.33 5.33 0 0 1 496 288h32a5.33 5.33 0 0 1 5.33 5.33v37.34h37.34A5.33 5.33 0 0 1 576 336z" />
                        </svg>
                        <div class="icon-links">
                            74 Listing </div>
                    </div>
                    <h4>
                        <a href="sublet.html">Sublet Room</a>
                    </h4>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Places <span>Properties In
                    Most Popular Places</span></h3>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/mirpur-tolet/519.html" class="img-box stylist-border"
                data-background-image="assets/images/location/main/mirpur2707.jpg">


                <div class="img-box-content visible">
                    <h4>
                        Mirpur <br>
                        Dhaka </h4>
                    <span>
                        511 Properties</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/mohammadpur-tolet/520.html" class="img-box stylist-border"
                data-background-image="https://www.thetolet.com/assets/images/location/blur/mohammadpur.jpg?c=1">


                <div class="img-box-content visible">
                    <h4>
                        Mohammadpur <br>
                        Dhaka </h4>
                    <span>
                        301 Properties</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/dhanmondi-tolet/505.html" class="img-box stylist-border"
                data-background-image="https://www.thetolet.com/assets/images/location/blur/dhanmondi.jpg?c=1">


                <div class="img-box-content visible">
                    <h4>
                        Dhanmondi <br>
                        Dhaka </h4>
                    <span>
                        300 Properties</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/badda-tolet/495.html" class="img-box stylist-border"
                data-background-image="https://www.thetolet.com/assets/images/location/blur/badda.jpg?c=1">


                <div class="img-box-content visible">
                    <h4>
                        Badda <br>
                        Dhaka </h4>
                    <span>
                        187 Properties</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/uttara-tolet/541.html" class="img-box stylist-border"
                data-background-image="https://www.thetolet.com/assets/images/location/blur/uttara.jpg?c=1">


                <div class="img-box-content visible">
                    <h4>
                        Uttara <br>
                        Dhaka </h4>
                    <span>
                        179 Properties</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-12">

            <a href="dhaka/bashundhara-r-a-tolet/599.html" class="img-box stylist-border"
                data-background-image="https://www.thetolet.com/assets/images/location/blur/bashundhara-r-a.jpg?c=1">


                <div class="img-box-content visible">
                    <h4>
                        Bashundhara R.A <br>
                        Dhaka </h4>
                    <span>
                        94 Properties</span>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-35 margin-top-10">Our Statistic <span> We upgrade our
                    site regularly for your help</span></h3>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last">
                <div class="counter-box-icon">
                    <i class="fa fa-line-chart"></i>
                    <span class="counter">28.6 M</span>
                    <p>Total View</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last">
                <div class="counter-box-icon">
                    <i class="fa fa-users"></i>
                    <span class="counter">161.1 K</span>
                    <p>Total User</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last ">
                <div class="counter-box-icon">
                    <i class="fa fa-home"></i>
                    <span class="counter">4.5 K</span>
                    <p>Total House Listed</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter-box last">
                <div class="counter-box-icon">
                    <i class="fa fa-commenting-o"></i>
                    <span class="counter">2 K</span>
                    <p>Total Rent Request</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>